
/* HEADER */

#header{
	background-color: #ecf0f1;
	width: 100%;
	position: fixed;
	z-index: 99;
}

#header div.logo{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 5px;
	background-image: url("../img/logo.png");
	background-size: 50px 50px;
}

#header div.menu nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	height: 4rem;

}
#header div.menu nav ul li a{
	text-decoration: none;
	color: #000;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

#header div.menu nav ul li{
	margin: 0 2%;
	display: inline;
  position: relative;
}

#header div.menu nav ul{
  list-style-type: none;
}

#header div.menu nav ul li.underline a:before{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  background-color: #000;
}

#header div.menu nav ul li.underline a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}


#header .menu ul ul{
	position: absolute;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 5.6rem;
}

#header .menu ul ul li{
	width: 250px;
	font-size: 0.8em;
	height: 35px;
	position: relative;
	right: 10px;
	background-color: #ecf0f1;
}

#header .menu ul li.submenu{
	padding-bottom: 2.1rem;
	padding-right: 8rem;
}

#header .menu ul li:hover.submenu ul{
	visibility: visible;
}

#header .menu ul li ul li:hover{
	background-color: #1abc9c;
	transition-duration: 0.5s;
}

#header .menu ul li ul li a{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#header .menu ul li ul li.logout:hover{
	background-color: #e74c3c;
	transition-duration: 0.5s;
}

#header .menu ul ul li{
	padding-left: 5px;
}

#header .menu ul{
	line-height: 30px;
}


/* SECTION 1 */

#section1 div.background{
	height: 45rem;
	width: 100%;
	background-image: url("../img/background_section1.jpg");
	background-size: cover;
}

#section1 div.text{
	/* border: solid 2px lime; */
	height: 250px;
	width: 580px;
	position: relative;
	top: 30%;
	left: 5%;
}

#section1 div.text p{
	font-family: 'Overpass', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #FFFFFF;

}

#section1 div.text p img{
	width: 150px;
	height: 150px;
}

#section1 div.text p span.line1{
	margin-left: 15px;
	font-size: 4em;
	letter-spacing: 9px;
	word-spacing: 6px;
	text-transform: uppercase;
}

#section1 div.text p span.line2{
	position: relative;
	left: 29%;
	bottom: 40px;
	font-size: 2em;

}

/* SECTION 2  */
#section2{
	font-family: 'Roboto', sans-serif;
}


#section2 div.wrap_section2 div.menu div.box1{
  background-color: #1DA187;
}

#section2 div.wrap_section2 div.menu div.box1:hover{
	background-color: rgba(29, 161, 135, 0.8);
}


#section2 div.wrap_section2 div.menu div.box2{
  background-color: #01A180;
}

#section2 div.wrap_section2 div.menu div.box2:hover{
	background-color: rgba(1, 161, 128, 0.8);
}


#section2 div.wrap_section2 div.menu div.box3{
  background-color: #05896E;
}

#section2 div.wrap_section2 div.menu div.box3:hover{
	background-color: rgba(5, 137, 110, 0.8);
}


#section2 div.wrap_section2 div.menu div.box4{
  background-color: #018068;
}

#section2 div.wrap_section2 div.menu div.box4:hover{
	background-color: rgba(1, 128, 104, 0.8);
}


#section2 div.wrap_section2 div.menu div.box{
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: center;
  width: 25%;
	padding: 5% 0 0 0;
  height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

#section2 div.wrap_section2 div.menu div.box:hover{
	transition-duration: 0.5s;
}

#section2 div.wrap_section2 div.menu div.box svg{
	width: 80px;
	height: 80px;
}

#section2 div.wrap_section2 div.menu div.box div.border{
  height: 1%;
  width: 40%;
  background-color: #fff;
	margin-top: 10%;
}

#section2 div.wrap_section2 div.menu div.box p{
  margin-top: 5%;
  color: #fff;
}

#section2 div.wrap_section2 div.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	align-items: center;
}


@media screen and (max-width:800px){
	#section2 div.wrap_section2 div.menu{
	  flex-direction: column;
	}
	#section2 div.wrap_section2 div.menu div.box{
		width: 100%;
		height: 25rem;
	}
	#section2 div.wrap_section2 div.menu div.box{
		justify-content: center;
	}
}

@media screen and (max-width:1225px) and (min-width:801px){
	#section2 div.wrap_section2 div.menu{
	  flex-direction: row;
		flex-wrap: wrap;
	}
	#section2 div.wrap_section2 div.menu div.box{
		width: 50%;
	}
	#section2 div.wrap_section2 div.menu div.box{
		justify-content: center;
	}
}


/* SECTION 3 */

#section3 div{
	height: 25em;
	width: 100%;
	background-color: lime;
	z-index: 99;
	background-image: url("../img/background_section3.jpg");
	background-size: cover;
}

#section4{
	padding: 2% 0 0 0;
}

#section4 div.background{
	height: 15em;
	width: 100%;
	background-color: lime;
	z-index: 99;
	background-image: url("../img/background_section4.png");
	background-size: cover;
}

#section4 div.wrap_section3{
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
}

/* LOGIN */

/* Section1_login */

#section1-login{
	margin: 0;
	padding: 0;
	padding: 30% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../img/background_section-login.jpg");
	background-size: cover;
}

#section1-login form{
	background-color: rgba(47, 54, 64,0.5);
	padding: 4%;
	border: 0px solid rgba(47, 54, 64,0.5);
	border-radius: 19px;
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	bottom: 15em;
}

#section1-login form div input{
	padding: 3%;
	border: 0px;
	border-radius: 5px;
	background-color:rgba(29, 209, 161);
}

#section1-login form div input:focus{
	background-color:rgba(200, 214, 229);
	transition-duration: 0.5s;
}

#section1-login form div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#section1-login form h1{
	font-size: 2em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 3%;
	margin-bottom: 2%;
	border-bottom: 1px #fff solid;
}

#section1-login form div label{
	font-size: 1.1em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	line-height: 40px;
}


#section1-login form input.submit{
	margin-top: 10%;
	background-color: rgba(29, 209, 161);
	border-radius:5px;
	border: none;
	cursor:pointer;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	padding: 1% 0;
	width: 250px;
	letter-spacing: 6px;
	font-weight: 800;
}

#section1-login form input.submit:hover{
	color:rgb(29, 209, 161);
	background-color:rgb(200, 214, 229);
	transition-duration: 0.5s;
}

#section1-login form input:focus{
	outline: none;
}

#section1-login form input.submit:active{
	position:relative;
	top:1px;
}

::placeholder{
	color: rgba(200, 214, 229,1.0);
}

#section1-login form span.error{
	color: #ee5253;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}


/* INSCRIPTION  */


.wrap {
	display: inline-block;
  background-color: #1B5385;
	border-radius: 6.5px;
  margin-left: 5%;
	padding: 5px;
	border: 11px double #1C6EA4;
border-radius: 20px 20px 20px 20px;
}

.wrap ,h1 p {
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
	font-size: 2.2em;
}

.formulaire  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color :rgba(27,83,133,0.4);
}

/* label {
  padding-top: 35px;


} */

	font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
	color: #DCDCDC;
}


::placeholder {
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
}

#mainSection {
		padding-top: 80px;
    height: 45rem;
    width: 100%;
    background-image: url("../img/virus.jpg");
    background-size: cover;
}



.sectionBis {
  height : 100%;
}





.box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 400px;
padding: 40px;
background: rgba(6,6,10,95%);
box-sizing: border-box;
box-shadow:0 15px 25px rgba(8,8,8,95%);
border-radius: 10px;
}

input:focus {
	background: #DCDCDC;
}

input {
	border-radius: 7px;
}
.box h2 {
margin:0 0 30px;
padding: 0;
color: #fff;
text-align:center;
}

.box .inputBox
{
  position: relative;
}

.box .inputBox input{
width: 100%;
padding:10px 0;
font-size:16px;
color:#fff;
letter-spacing:1px;
margin-bottom:30px;
border:none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}

.box .inputBox label
{
  position: absolute;
  top:0;
  left:0;
  padding:10px 0;
  font-site: 16px;
  color:#fff;
  point-events:none;
  transition:.5s;

}
.box .inputBox input:focus  ~ label,
.box .inputBox input:valid  ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size:12px;
}

.box .input[type="submit"]
{
  background:transparent;
  border:none;
  outline:none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;*
  cursor:pointer;
  border-radius:5px;
}

@media screen and (max-width:1025px) and (min-width:801px){
	#mainSection div.wrap div.box{
	  flex-direction: row;
		flex-wrap: wrap;
	}
	#mainSection div.wrap div.box{
		width: 50%;
	}
	#mainSection div.wrap div.box{
		justify-content: center;
	}
}


/* .formulaire{
  padding: 0;
  margin: 0;
  background: cover;
}

.formulaire div input{
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
  border:1px solid #241d13;
  padding: 1%;
}

.formulaire div textarea{
  resize: none;
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
  border:1px solid #241d13;
  padding: 1%;
}

.formulaire div.submit input{
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
    border:1px solid #000;
    display:inline-block;
    cursor:pointer;
    /* color:#000; */
    /*font-size:16px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
}*/

/* .formulaire div.submit input:hover{
  background-color: #D90011;
  color: #FFF;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
} */



.formulaire form{
  margin-left: 35%; }
  
/* .formulaire form{ /* Pour center le formulaire*/
    /* margin-left: 35%;
}

.formulaire span{
    color: #D90011;
    font-family: 'sfrbold';
}
.formulaire span.green{
    color: darkgreen;
} */
