
/* HEADER */

#header{
	background-color: #ecf0f1;
	width: 100%;
	/* position: fixed; */
	z-index: 99;
}

#header div.logo{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 5px;
	background-image: url("../img/logo.png");
	background-size: 50px 50px;
}

#header div.menu nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 4rem;

}
#header nav ul li a{
	text-decoration: none;
	color: #000;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

#header div.menu nav ul li{
	margin: 0 2%;
	display: inline;
  position: relative;
}

#header div.menu nav ul{
  list-style-type: none;
}

#header nav ul li.underline a:before{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  background-color: #000;
}

#header nav ul li.underline a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}


#header .menu ul ul{
	position: absolute;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 111%;
}

#header .menu ul ul li{
	width: 250px;
	font-size: 0.8em;
	height: 35px;
	position: relative;
	right: 10px;
	background-color: #ecf0f1;
}

#header .menu ul li.submenu{
	position: relative;
	top: 28%;
	padding-bottom: 2.1rem;
	padding-right: 8rem;
}

#header .menu ul li:hover.submenu ul{
	visibility: visible;
}

#header .menu ul li ul li:hover{
	background-color: #1abc9c;
	transition-duration: 0.5s;
}

#header .menu ul li ul li a{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#header .menu ul li ul li.logout:hover{
	background-color: #e74c3c;
	transition-duration: 0.5s;
}

#header .menu ul ul li{
	padding-left: 5px;
}

#header .menu ul{
	line-height: 30px;
}

#header div.menuresponsive1{
	display: none;
}

/* RESPONSIVE HEADER */


@media screen and (max-width: 984px){

	#header div.menu{
		display: none;
	}
	#header div.menuresponsive1{
		display: block;
	}
	#header div.menuresponsive1 input{
		display: none;
	}
	#header div.menuresponsive1 label{
		display: none;
	}
	#header .menuresponsive1 nav ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: baseline;
	}
	#header .menuresponsive1 nav{
		height: 60px;
	}
	#header .menuresponsive1 nav ul li{
		margin: 1% 2% 0 1%;
	}
	#header .menuresponsive1 .carnet a:hover{
		color: #1abc9c;
		transition-duration: 0.4s;
	}
	#header .menuresponsive1 .logout a:hover{
		color: #e74c3c;
		transition-duration: 0.5s;
	}
}

@media screen and (max-width: 635px){
	#header div.menuresponsive1 label{
		display: block;
	}
	#header .menuresponsive1 .menu {
	   display: none;
	}
	#header .menuresponsive1 .menu-toggle:hover{
		background-color: #34495e;
		color: #ecf0f1;
		transition-duration: 0.4s;
	}
	#header .menuresponsive1 .menu-toggle:active{
		position: relative;
		top: 1px;
	}
	#header .menuresponsive1 .menu-checkbox:checked ~ .menu{
    display: block;
		background-color: #ecf0f1;
		width: 100%;
	}
	#header .menuresponsive1 .menu-checkbox{
		position: absolute;
		opacity: 0;
		top: -5000px;
	}
	#header .menuresponsive1 .menu-toggle {
		margin: 5px;
		width: 100px;
	}
	#header .menuresponsive1 nav{
	 	display: flex;
		flex-direction: column;
	}
	#header .menuresponsive1 nav ul li{
		margin: 4px 10px;
		width: auto;
		height: 28px;
	}
	#header .menuresponsive1 .logo{
		display: none;
	}
	#header .menuresponsive1 nav ul li:hover{
		border-bottom: 1px solid #000;
	}
}
#header .menuresponsive1 label{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}


#header label {
	font-size: 1.3em;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	padding: 10px 0px 10px 0px;;
	letter-spacing: 1px;
}

/* FOOTER */

#footer{
	padding: 1% 1%;
	background-color: #222f3e;
}

#footer div.footer div.logo img.logo{
	width: 80px;
	height: 80px;
}

#footer div.footer div.logo{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer a{
	text-decoration: none;
}

#footer div.footer div.logo h1{
	font-size: 2.4em;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
	margin-left: 15px;
}

#footer div.footer div.social-media .wrapper .button{
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #222f3e;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
#footer div.footer div.social-media .wrapper .button:hover{
  width: 200px;
	background-color: #ecf0f1;
}
#footer div.footer div.social-media .wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
#footer div.footer div.social-media .wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
#footer div.footer div.social-media .wrapper .button:nth-child(2):hover .icon{
	background: #1DA1F2;
}
#footer div.footer div.social-media .wrapper .button:nth-child(3):hover .icon{
	background: rgb(254,207,109);
	background: linear-gradient(25deg, rgba(254,207,109,1) 0%, rgba(218,45,116,1) 50%, rgba(74,101,213,1) 100%);
}
#footer div.footer div.social-media .wrapper .button:nth-child(4):hover .icon{
  background: #f1c40f;
}
#footer div.footer div.social-media .wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
#footer div.footer div.social-media .wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
#footer div.footer div.social-media .wrapper .button:hover .icon i{
  color: #fff;
}
#footer div.footer div.social-media .wrapper .button span{
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 10px;
	position: relative;
	bottom: 40%;
  transition: all 0.3s ease-out;
	font-family: 'Roboto', sans-serif;
}
#footer div.footer div.social-media .wrapper .button:nth-child(1) span{
  color: #4267B2;
}
#footer div.footer div.social-media .wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
#footer div.footer div.social-media .wrapper .button:nth-child(3) span{
  color: #E1306C;
}
#footer div.footer div.social-media .wrapper .button:nth-child(4) span{
  color: #f1c40f;
}
#footer div.footer div.social-media .wrapper .button:nth-child(5) span{
  color: #ff0000;
}

#footer div.social-media div.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#footer div.logo div{
	margin-right: 40px;
}

#footer div.footer{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}


#footer div.mention{
	text-align: center;
}

#footer div.mention p a{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
	margin: 0 25px;
	font-size: 1.1em;
}

#footer div.mention p a span:hover{
	border-bottom: 1px #fff solid;
}



/* FOOTER RESPONSIVE */

@media screen and (max-width: 800px){

	#footer div.footer{
		flex-direction: column;
	}
}

@media screen and (max-width: 530px){
	#footer div.social-media div.wrapper{
		flex-direction: column;
		height: 25em;
	}
	#footer div.footer div.logo h1{
		font-size: 1.3em;
	}
}


/* SECTION 1 */

#section1 div.background{
	height: 45rem;
	width: 100%;
	background-image: url("../img/background_section1.jpg");
	background-size: cover;
}

#section1 div.text{
	/* border: solid 2px lime; */
	height: 250px;
	width: 580px;
	position: relative;
	top: 30%;
	left: 5%;
}

#section1 div.text p{
	font-family: 'Overpass', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #FFFFFF;

}

#section1 div.text p img{
	width: 150px;
	height: 150px;
}

#section1 div.text p span.line1{
	margin-left: 15px;
	font-size: 4em;
	letter-spacing: 9px;
	word-spacing: 6px;
	text-transform: uppercase;
}

#section1 div.text p span.line2{
	position: relative;
	left: 29%;
	bottom: 40px;
	font-size: 2em;

}

/* SECTION 1 RESPONSIVES */

@media screen and (max-width: 730px){
	#section1 div.text p span.line2{
		position: relative;
		left: 34%;
		bottom: 40px;
		font-size: 1.3em;
	}
	#section1 div.background{
		height: 35rem;
	}
	#section1 div.text{
		height: 250px;
		width: 500px;
		position: relative;
		top: 30%;
		left: 2%;
	}
}

@media screen and (max-width: 540px){
	#section1 img{
		display: none;
	}
	#section1 div.text p span.line2{
		position: relative;
		left: 1%;
		top: 50px;
		font-size: 1.3em;
	}
	#section1 div.text p span.line1{
		font-size: 3em;
	}
	#section1 div.text{
		width: 350px;
	}
}


@media screen and (max-width: 358px){
	#section1 div.text{
		width: 250px;
	}
	#section1 div.text p span.line1{
		font-size: 2em;
		position: relative;
		right: 5%;
	}
}

/* SECTION 2  */
#section2{
	font-family: 'Roboto', sans-serif;
}


#section2 div.wrap_section2 div.menu div.box1{
  background-color: #1DA187;
}

#section2 div.wrap_section2 div.menu div.box1:hover{
	background-color: rgba(29, 161, 135, 0.8);
}


#section2 div.wrap_section2 div.menu div.box2{
  background-color: #01A180;
}

#section2 div.wrap_section2 div.menu div.box2:hover{
	background-color: rgba(1, 161, 128, 0.8);
}


#section2 div.wrap_section2 div.menu div.box3{
  background-color: #05896E;
}

#section2 div.wrap_section2 div.menu div.box3:hover{
	background-color: rgba(5, 137, 110, 0.8);
}


#section2 div.wrap_section2 div.menu div.box4{
  background-color: #018068;
}

#section2 div.wrap_section2 div.menu div.box4:hover{
	background-color: rgba(1, 128, 104, 0.8);
}


#section2 div.wrap_section2 div.menu div.box{
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: center;
  width: 25%;
  height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1em;
}

#section2 div.wrap_section2 div.menu div.box:hover{
	transition-duration: 0.5s;
}

#section2 div.wrap_section2 div.menu div.box svg{
	width: 80px;
	height: 80px;
}

#section2 div.wrap_section2 div.menu div.box div.border{
  height: 1%;
  width: 40%;
  background-color: #fff;
	margin-top: 10%;
}

#section2 div.wrap_section2 div.menu div.box p{
  margin-top: 5%;
  color: #fff;
}

#section2 div.wrap_section2 div.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	align-items: center;
}


@media screen and (max-width:800px){
	#section2 div.wrap_section2 div.menu{
	  flex-direction: column;
	}
	#section2 div.wrap_section2 div.menu div.box{
		width: 100%;
		height: 25rem;
	}
	#section2 div.wrap_section2 div.menu div.box{
		justify-content: center;
	}
}

@media screen and (max-width:1225px) and (min-width:801px){
	#section2 div.wrap_section2 div.menu{
	  flex-direction: row;
		flex-wrap: wrap;
	}
	#section2 div.wrap_section2 div.menu div.box{
		width: 50%;
	}
	#section2 div.wrap_section2 div.menu div.box{
		justify-content: center;
	}
}


/* SECTION 3 */

#section3{
	background-color: #ecf0f1;
}

#section3 .titre {
	height: 6em;
	padding: 40px 0 0 20px;
}

#section3 .titre p span{
	text-transform: uppercase;
	font-family: 'Overpass', sans-serif;
	font-size: 3em;
	color: #2c3e50;
	border-bottom: 2px solid #2c3e50;
}

#section3 .flexbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 20em;
}

#section3 .comment{
	width: 50%;
}

#section3 .main{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-left: 10%;
	width: 80%;
}

#section3 .profil-picture{
	height: 120px;
	width: 120px;
	min-height: 120px;
	min-width: 120px;
	border-radius: 50%;
	background-size: cover;
}

#section3 .profil-picture:hover{
	position: relative;
	top: 1px;
	filter: brightness(1.30);
	transition-duration: 0.5s;
}

#section3 .profil-picture1{
	background-image: url("../img/face1.jpg");
}

#section3 .profil-picture2{
	background-image: url("../img/face2.jpg");
}

#section3 .profil-picture3{
	background-image: url("../img/face3.jpg");
}

#section3 .profil-picture4{
	background-image: url("../img/face4.jpg");
}

#section3 .user{
	margin-bottom: 10px;
	font-weight: 700;
	letter-spacing: 2px;
}
#section3 .text{
}

#section3 .textarea{
	background-color: #bdc3c7;
	border-radius: 19px;
	padding: 8px;
	width: 120%;
	font-family: 'Roboto', sans-serif;
	color: #2c3e50;
	margin-left: 2%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}

#section3 .textarea:hover{
	position: relative;
	top: 1px;
}

/* RESPONSIVE SECTION3 */
@media screen and (max-width:850px){
		#section3 .flexbox{
		flex-direction: column;
		flex-wrap: nowrap;
		height: auto;
	}
	#section3 .comment{
		width: 100%;
		margin: 20px 0;
	}
}
@media screen and (max-width:640px){
	#section3 .titre p span{
		font-size: 2em;
	}
	#section3 .main{
		margin-left: 2%;
	}
	#section3 .text{
		font-size: 0.8em;
	}
	#section3 .textarea{
		width: 100%;
	}
}

@media screen and (max-width:440px){
	#section3 .titre p span{
		font-size: 1.4em;
	}
	#section3 .user{
		margin-bottom: 10px;
		font-weight: 600;
		letter-spacing: 1px;
		font-size: 0.9em;
	}
}

@media screen and (max-width:305px){
	#section3 .titre p span{
		font-size: 1.1em;
	}
}


/* Généralités */
::selection {
  color: none;
  background: rgba(26, 188, 156,0.5)
}

.format{
	margin: 0;
	padding: 0;
	padding: 10% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
}

.form h2{
	font-size: 1.2em;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

.form{
	background-color: rgba(47, 54, 64,0.7);
	padding: 4%;
	border: 0px solid rgba(47, 54, 64,0.7);
	border-radius: 19px;
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.form h1{
	font-size: 2em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 3%;
	margin-bottom: 2%;
	border-bottom: 1px #fff solid;
}


.form div input{
	padding: 3%;
	border: 0px;
	border-radius: 5px;
	background-color:#22A6B3;
	width: 250px;
}

.form div input:focus{
	background-color:rgba(200, 214, 229);
	transition-duration: 0.5s;
}

.form div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form div label{
	font-size: 1.1em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	line-height: 40px;
}


.form input.submit{
	margin-top: 10%;
	background-color: #22A6B3;
	border-radius:5px;
	border: none;
	cursor:pointer;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	padding: 1% 0;
	width: 250px;
	letter-spacing: 6px;
	font-weight: 800;
}

.form input.submit:hover{
	color:#22A6B3;
	background-color:rgb(200, 214, 229);
	transition-duration: 0.5s;
}

.form input:focus{
	outline: none;
}

.form input.submit:active{
	position:relative;
	top:1px;
}

.form input::placeholder{
color: #fff;
}

.form span.error{
	color: #ee5253;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}

.form span.green{
	color: #bafc58;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	margin-top: 1em;
	font-size: 1.2em;
}


.form input::placeholder{
  color: #fff;
}

.form p{
	font-size: 1.2em;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

.form h3{
	font-size: 1.0em;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0 -30px 0;
}

.form a{
	text-decoration: none;
	color: #fff;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
}

/* SECTION 1 Login */

#section1-login{
	background-image: url("../img/background_section-login.jpg");
}

#section1-login .form{
	height: 35em;
}

@media screen and (max-width: 1336px){
	 #section1-login .form{
		 height: 30em;
	 }
}

/* SECTION 2 login */

#section2-login{
	background: #ecf0f1;
	height: 15em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#section2-login div{
	border-radius: 15px;
	border: 14px solid #22A6B3;
	background-color: #22A6B3;
	width: 450px;
	height: 150px;
}

#section2-login div p.titre{
	color: #fff;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#section2-login div p.text{
	margin-top: 15px;
	color: #fff;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
}

#section2-login a{
	text-decoration: none;
	color: #fff;
}

#section2-login div:active{
	position: relative;
	bottom: 3px;
}

#section2-login div p.titre{
	display: flex;
	align-items: center;
}

#section2-login div p.titre span{
	margin-left: 10px;
}
/* RESPONSIVE SECTION LOGIN */
@media screen and (max-width: 915px){
	#section2-login{
		height: 25em;
		flex-direction: column;
	}
}

@media screen and (max-width: 500px){
	#section1-login form{
		height: 25em;
		width: 100%;
		border-radius: 0;
	}
	#section2-login .box{
		width: 100%;
		height: 10em;
		border-radius: 0;
	}
	#section1-login{
		padding-top: 45%;
	}
}

/* Mot de passe oublié */

#section1-forgot{
	background-image: url("../img/background_section-forgot.jpg");
}


@media screen and (max-width: 753px){
	#section1-forgot h1{
		font-size: 1.2em;
	}
	#section1-forgot h2{
		font-size: 1em;
	}
	#section1-forgot form{
		width: 90%;
	}
}

@media screen and (max-width: 500px){
	#section1-forgot form{
		height: 25em;
		width: 100%;
		border-radius: 0;
	}
	#section1-forgot form div input{
		height: 2.5em;
	}
	#section1-forgot{
		padding-top: 55%;
	}
}

/* FORGOT MAIL SECTION 1 */

#section1-mail{
	background-image: url("../img/background-section-forgotmail.jpg");
	padding: 15% 0 25% 0;
}

@media screen and (max-width: 500px){
	#section1-mail div{
		height: auto;
		width: 100%;
		border-radius: 0;
	}
	#section1-mail{
		padding-top: 15em;
	}
}


/* NEW PASS */

#section1-forgotnew{
	background-image: url("../img/background-section-forgotnewpass.jpg");
}

@media screen and (max-width: 700px){
	#section1-forgotnew .form{
		height: auto;
		width: 90%;
	}
	#section1-forgotnew h1{
		font-size: 1.5em;
	}
	#section1-forgotnew{
		padding-top: 15em;
	}
	@media screen and (max-width: 500px){
		#section1-forgotnew .form{
			height: auto;
			width: 100%;
			border-radius: 0;
		}
		#section1-forgotnew h1{
			font-size: 1.2em;
		}
		#section1-forgotnew h2{
			font-size: 1em;
		}
		#section1-forgotnew label{
			letter-spacing: 1px;
			font-size: 1em;
		}
	}
}

/* USER PROFIL */


#section-user_profil{
	background-image: url("../img/background-section-profil.jpg");
}

#section-user_profil form div.bis{
	display: flex;
	flex-direction: row;
	width: 55em;
	justify-content: space-around;
	align-items: center;
}

#section-user_profil span.error{
	margin-top: 5px;
	font-size: 0.8em;
	max-width: 120%;
	max-height: 50px;
}

/* Responsive USER PROFIL  */

@media screen and (max-width:1100px){
	#section-user_profil form div.bis{
		flex-direction: column;
		width: 35em;
	}
	#section-user_profil form{
		width: 80%;
	}
	#section-user_profil form h1{
		font-size: 1.3em;
	}
}

@media screen and (max-width:635px){
	#section-user_profil{
		height: 55em;
	}
}

@media screen and (max-width:600px){
	#section-user_profil form div.bis{
		width: 15em;
		padding: 2%;
	}
	#section-user_profil form div.bis input{
		width: 140%;
	}
	#section-user_profil form div.bis label{
		position: relative;
		bottom: 4px;
	}
	#section-user_profil form{
		width: 100%;
		border-radius: 0;
	}
	#section-user_profil form h1{
		font-size: 1em;
		text-align: center;
	}
}



/* userseevac */

#section-userseevac{
	background-image: url("../img/background-section-profil.jpg");
}


#section-userseevac form select{
	padding: 8px 12px;
	background-color: #22a6b3;
	color: #fff;
	cursor: pointer;
	border: 2px solid #22a6b3;
	outline: none;
	width: 30em;
}

#section-userseevac form div.date{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;

}


#section-userseevac .gg{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

#section-userseevac select{
	margin: 2em 0 0 0;
}

#section-userseevac .date{
	margin: 2em 0 0 0;
}

 #section-userseevac div.date input{
	text-transform: uppercase;
}

#section-userseevac .main form select:hover{
	border: 2px solid #ffffff;
	transition-duration: 0.4s;
}

#section-userseevac .main form select option:nth-child(even){
	background-color: #ecf0f1;
	color: #000;
}
#section-userseevac .main form select option:nth-child(1){
	display: none;
}
#section-userseevac .main form select option:nth-child(odd){
	background-color: #1abc9c;
}


#section-userseevac .tableau{
	margin-top: 5%;
	width: 80%;
}

#section-userseevac .content-table {
  border-collapse: collapse;
  margin: 25px 0;
	width: 45em;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#section-userseevac .content-table thead tr {
  background-color: #22A6B3;
  color: #ffffff;
  text-align: left;
  font-weight: 800;
	font-size: 1.3em;
}

#section-userseevac .content-table th,
#section-userseevac .content-table td {
  padding: 12px 15px;
}

#section-userseevac .content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

#section-userseevac .content-table tbody tr:nth-of-type(even) {
  background-color: #dfe4ea;
	color: #57606f;
	font-size: 1.2em;
}

#section-userseevac .content-table tbody tr td a{
	color: #57606f;
	text-decoration: none;
}

#section-userseevac .content-table tbody tr:nth-of-type(odd) {
  background-color: #ced6e0;
	color: #2f3542;
	font-size: 1.2em;

}

#section-userseevac .content-table tbody tr:last-of-type {
  border-bottom: 2px solid #22A6B3;
}

#section-userseevac .content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

#section-userseevac .main form{
	display: flex;
	flex-direction: column;
}

/* RESPONSIVES USER SEE VAC */

@media screen and (max-width:1000px){
	#section-userseevac .form{
		width: 90%;
		height: auto;
	}
	#section-userseevac{
		padding-top: 10em;
	}
	#section-userseevac .tableau{
		width: 100%;
		border-radius: 0;
	}
	#section-userseevac .tableau table{
		width: 90%;
	}
}

@media screen and (max-width:600px){
	#section-userseevac .form{
		width: 100%;
		height: auto;
		border-radius: 0;
	}
	#section-userseevac h1{
		font-size: 1.5em;
	}
	#section-userseevac form .gg{
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	#section-userseevac .tableau table{
		font-size: 0.6em;
	}
}


@media screen and (max-width:440px){
	#section-userseevac form select{
		width: 200px;
	}
	#section-userseevac form div.date{
		flex-direction: column;
	}
	#section-userseevac h1{
		font-size: 1.2em;
		text-align: center;
	}
	#section-userseevac .tableau table th:nth-child(2){
		display: none;
	}
	#section-userseevac .tableau table td:nth-child(2){
		display: none;
	}
}

@media screen and (max-width:400px){
	#section-userseevac table, thead, tbody, th, td, tr {
		display: block;
		width: 100%;
		padding: 0;
	}
	#section-userseevac table{
		min-width: 0px;
		padding: 0 auto;
		margin: 0 0;
	}
	#section-userseevac .tableau table th:nth-child(2){
		display: block;
	}
	#section-userseevac .tableau table td:nth-child(2){
		display: block;
	}
}

/* USER update VAC */


#section-userupdatevac{
	background-image: url("../img/virus.jpg");
	padding: 15% 0 25% 0;
}









/* INSCRIPTION THEO */

#section-password{
	background-image: url("../img/background-register.jpg");
	padding: 15% 0 5% 0;
}

#section-password form select{
	padding: 3%;
	border: 0px;
	border-radius: 5px;
	background-color:#22A6B3;
	width: 250px;
}

#section-password form input[type="date"]{
	color: #fff;
}

#section-password form input[type="date"]:focus{
	transition-duration: 0.5s;
	color: #2c3e50;
}

#section-password form select{
	outline: none;
	color:#fff;
}

#section-password form select option:nth-child(1){
	display: none;
}

#section-password form select:focus{
	background-color:rgba(200, 214, 229);
	transition-duration: 0.5s;
	color: #2c3e50;
}

#section-password form div.flexbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#section-password form div.flexbox div{
	width: 50%;
	height: 9em;
}

/* INSCRIPTION THEO RESPONSIVE */
@media screen and (max-width:1160px){
	#section-password form{
		width: 80%;
	}
}


@media screen and (max-width:860px){
	#section-password form div.flexbox{
		flex-direction: column;
		flex-wrap: nowrap;
	}
	#section-password form div.flexbox div{
		width: 100%;
	}
	#section-password form div.flexbox div.null{
		display: none;
	}
}

@media screen and (max-width:600px){
	#section-password form input{
		width: 100%;
	}
	#section-password{
		padding-top: 10em;
	}
	#section-password form select{
		width: 100%;
	}
}

@media screen and (max-width:426px){
	#section-password label.debug1{
		font-size: 0.9em;
	}
}

@media screen and (max-width:376px){
	#section-password form{
		border-radius: 0;
		width: 100%;
	}
	#section-password label.debug1{
		font-size: 0.7em;
	}
}



/* CODE ? */



#mainSection .go {
		box-shadow:inset 0px 1px 0px 0px #cf866c;
		background-color:#22A6B3;
		border-radius:7px;
		border:1px solid #22A6B3;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:20px;
		text-decoration:none;
		margin: 5% 0;
		font-weight:800;
		letter-spacing: 4px;
		height: 41px;

}



#mainSection .go:hover {
	background-color:#ffffff;
	color:#22A6B3;
	transition-duration: 0.5s;
}

#mainSection input:focus{
	background-color: rgba(149, 165, 166,1.0);
	transition-duration: 0.5s;
}

#mainSection select:focus{
	background-color: rgba(149, 165, 166,1.0);
	transition-duration: 0.5s;
}

#mainSection input {
	border-radius: 7px;
	width: 250px;
	height: 180px;
	outline: none;
	border: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#mainSection select {
	border-radius: 7px;
	width: 250px;
	height: 180px;
	outline: none;
	border: 0px;
}
#mainSection option {
	border-radius: 7px;
}

.wrapregister {
	display: inline-block;
  background-color: rgba(200, 214, 229);
	border-radius: 6.5px;
  margin-left: 5%;
	padding: 5px;
	border: 11px double rgba(200, 214, 229);
  border-radius: 20px 20px 20px 20px;
}


.wrapregister ,h1 p {
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
	font-size: 2.2em;
}

.boxregister label {
		font-family: 'roboto';
		color:white;
		font-size: 1.2em;
		padding: 0 0;
	}



.boxregister .formulaire1  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
	height: 650px;
}




::placeholder {
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
	font-weight: 500;
	color: #403939;
}

#mainSection {
		padding: 60% 0 0 0 ;
    height: 45rem;
    width: 100%;
    background-image: url("../img/virus.jpg");
    background-size: cover;
}



.sectionBis {
  height : 100%;
}

.boxregister {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 400px;
padding: 40px;
background: rgba(44, 62, 80,0.7);
box-sizing: border-box;
box-shadow:0 15px 25px rgba(44, 62, 80,0.7);
border-radius: 10px;
}

input:focus .inputa{
	background: #DCDCDC;
}

input .inputa {
	border-radius: 7px;
}
.boxregister h2 {
margin:0 0 30px;
padding: 0;
color: #fff;
text-align:center;
}

.boxregister .inputBox
{
  position: relative;
}


.boxregister .inputBox input:focus  ~ label,
.boxregister .inputBox input:valid  ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size:12px;
}

.boxregister .input[type="submit"]
{
  background:transparent;
  border:none;
  outline:none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;*
  cursor:pointer;
  border-radius:5px;
}

@media screen and (max-width:1025px) and (min-width:801px){
	#mainSection div.wrap div.boxregister{
	  flex-direction: row;
		flex-wrap: wrap;
	}
	#mainSection div.wrap div.boxregister{
		width: 50%;
	}
	#mainSection div.wrap div.boxregister{
		justify-content: center;
	}
}

 .formulaire1{
  padding: 0;
  margin: 0;
  background: cover;
}

.formulaire1 div input{
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
  border:1px solid #241d13;
  padding: 1%;
}


.formulaire1 div textarea{
  resize: none;
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
  border:1px solid #241d13;
  padding: 1%;
}

.formulaire1 div.submit input{
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
    border:1px solid #000;
    display:inline-block;
    cursor:pointer;
     color:#000;
    font-size:16px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
}

 .formulaire1 div.submit input:hover{
  background-color: #D90011;
  color: #FFF;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#prenom   {
	margin-top: 20px;
	margin-bottom: 15px;
}

#nom   {
	margin-top: 20px;
	margin-bottom: 15px;
}

#civilitee   {
	margin-top: 20px;
	margin-bottom: 15px;
}

#datenaissance   {
	margin-top: 20px;
	margin-bottom: 15px;
}




.error {
	color: #78d07f;
	font-style: italic;

}
/*  Contact  */

.wrapcontact {
	background-color: rgba(119, 140, 163,0.7);
	padding: 2%;
	display:flex;
	flex-direction: column;
	justify-content:center;
	width: 600px;
	border-radius: 7px;
	width: 600px;
	padding: 40px;
	background: rgba(44, 62, 80,0.7);
	box-sizing: border-box;
	border-radius: 10px;
	}

.wrapcontact  h3,.wrapcontact label {
	font-size: 1.3em;
	font-weight: 600;
	color: #FF5733;
	font-family: 'Roboto', sans-serif;
	padding: 10px 0px 10px 0px;;
	letter-spacing: 1px;
}

.wrapcontact p {
	font-size: 1.05em;
	font-weight: 500;
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
	color:white;
	font-size: 1.1em;
	padding-bottom: 15px;
}

.wrapcontact a {
	text-decoration: none;
	color: white;
	font-size: 1.05em;
	font-weight: 500;
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
}

#contact {
	background-image: url("../img/background_section-forgot.jpg");
	background-size: cover;
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 0;
}

.wrapcontact .w50{
	display: flex;
	flex-direction: column;
}

.wrapcontact .w50 label {

}

.wrapcontact .w50 input {
	border-radius:7px;
	outline: none;
	height: 30px;
	width: 150px;
	margin-bottom: 20px;
}


.wrapcontact textarea {
	border-radius: 7px;
	width: 100%;;
	position: relative;
	right: 10px;
}

 .boutonAz  {
	margin: 5%;
	margin-left: 42%;
	width:90px;
 	height:85px;
 	background:#d34836;
 	font:bold 13px verdana;
	font-size: 1.1em;
 	border-radius:50%;
 	border:none;
 	color:#fff;
}

.boutonAz:hover {
	background-color: red;
	border: 1px solid red;
	transition-duration: 0.75s;
  color: white;
}


#contact .inputerror {
	color:grey;
	font-size: 1.2em;
	padding: 3% 5px;
}

#contact .placeholderA {
	color:grey;
	font-size: 1.3em;
	padding: 1% 5px;
	margin:2%;
}


#contact .boutonAz {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: CENTER;
	align-content: center;
}

/* MENTIONS */
.mentions {
	background-image: url("../img/background-mention.jpg");
	padding-top: 3%;
	padding-bottom: 3%;
}

.wrapmentions {
	width: 60%;
	margin-left: 20%;
	height: 100%;
	background-size: 100%;
	background-color: #DDDEE0;
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
	border-radius: 7.5px;
	border: 1.5px solid black;
	border:  thick double ;
}

.wrapmentions h4 {
	font-size: 1.3em;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	width: 100%;

}

.wrapmentions div{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 100%;
}


.Team3 li {
font-size: 1.5em;
}

.emojimasques img{
	display: flex;
	width: 10%;
	max-width: 100%;
	height: 25%;
}
/* Page 403  */



.aza {
font-size: 10em;
font-weight:bold;
font-family: 'Oswald', sans-serif;
padding-left: 30px;
}

.az {
	font-size: 3em;
	font-weight:600;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 700px;
	padding-left: 30px;
}

/* Page 404 */

.aza {
font-size: 10em;
font-weight:bold;
font-family: 'Oswald', sans-serif;
padding-left: 30px;
}

.az {
	font-size: 3em;
	font-weight:600;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 700px;
	padding-left: 30px;
}


/* SECTION RESPONSIVE THEO */

div.wrapmentions{
	width: 80%;
}




/* MENTIONS RESPONSIVE THEO */
