
/* HEADER */

#header{
	background-color: #ecf0f1;
	width: 100%;
	/* position: fixed; */
	z-index: 99;
}

#header div.logo{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 5px;
	background-image: url("../img/logo.png");
	background-size: 50px 50px;
}

#header div.menu nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 4rem;

}
#header div.menu nav ul li a{
	text-decoration: none;
	color: #000;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

#header div.menu nav ul li{
	margin: 0 2%;
	display: inline;
  position: relative;
}

#header div.menu nav ul{
  list-style-type: none;
}

#header div.menu nav ul li.underline a:before{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  background-color: #000;
}

#header div.menu nav ul li.underline a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}


#header .menu ul ul{
	position: absolute;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 4.5rem;
}

#header .menu ul ul li{
	width: 250px;
	font-size: 0.8em;
	height: 35px;
	position: relative;
	right: 10px;
	background-color: #ecf0f1;
}

#header .menu ul li.submenu{
	position: relative;
	top: 28%;
	padding-bottom: 2.1rem;
	padding-right: 8rem;
}

#header .menu ul li:hover.submenu ul{
	visibility: visible;
}

#header .menu ul li ul li:hover{
	background-color: #1abc9c;
	transition-duration: 0.5s;
}

#header .menu ul li ul li a{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#header .menu ul li ul li.logout:hover{
	background-color: #e74c3c;
	transition-duration: 0.5s;
}

#header .menu ul ul li{
	padding-left: 5px;
}

#header .menu ul{
	line-height: 30px;
}

/* FOOTER */

#footer{
	padding: 1% 1%;
	background-color: #222f3e;
}

#footer div.footer div.logo img.logo{
	width: 80px;
	height: 80px;
}

#footer div.footer div.logo{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer a{
	text-decoration: none;
}

#footer div.footer div.logo h1{
	font-size: 2.4em;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
	margin-left: 15px;
}

#footer div.footer div.social-media .wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #222f3e;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
#footer div.footer div.social-media .wrapper .button:hover{
  width: 200px;
	background-color: #ecf0f1;
}
#footer div.footer div.social-media .wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
#footer div.footer div.social-media .wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
#footer div.footer div.social-media .wrapper .button:nth-child(2):hover .icon{
	background: #1DA1F2;
}
#footer div.footer div.social-media .wrapper .button:nth-child(3):hover .icon{
	background: rgb(254,207,109);
	background: linear-gradient(25deg, rgba(254,207,109,1) 0%, rgba(218,45,116,1) 50%, rgba(74,101,213,1) 100%);
}
#footer div.footer div.social-media .wrapper .button:nth-child(4):hover .icon{
  background: #F7F400;
}
#footer div.footer div.social-media .wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
#footer div.footer div.social-media .wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
#footer div.footer div.social-media .wrapper .button:hover .icon i{
  color: #fff;
}
#footer div.footer div.social-media .wrapper .button span{
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 10px;
	position: relative;
	bottom: 40%;
  transition: all 0.3s ease-out;
	font-family: 'Roboto', sans-serif;
}
#footer div.footer div.social-media .wrapper .button:nth-child(1) span{
  color: #4267B2;
}
#footer div.footer div.social-media .wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
#footer div.footer div.social-media .wrapper .button:nth-child(3) span{
  color: #E1306C;
}
#footer div.footer div.social-media .wrapper .button:nth-child(4) span{
  color: #F7F400;
}
#footer div.footer div.social-media .wrapper .button:nth-child(5) span{
  color: #ff0000;
}

#footer div.social-media div.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#footer div.logo div{
	margin-right: 40px;
}

#footer div.footer{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}


#footer div.mention{
	text-align: center;
}

#footer div.mention p a{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
	margin: 0 25px;
	font-size: 1.1em;
}

#footer div.mention p a span:hover{
	border-bottom: 1px #fff solid;
}


/* SECTION 1 */

#section1 div.background{
	height: 45rem;
	width: 100%;
	background-image: url("../img/background_section1.jpg");
	background-size: cover;
}

#section1 div.text{
	/* border: solid 2px lime; */
	height: 250px;
	width: 580px;
	position: relative;
	top: 30%;
	left: 5%;
}

#section1 div.text p{
	font-family: 'Overpass', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #FFFFFF;

}

#section1 div.text p img{
	width: 150px;
	height: 150px;
}

#section1 div.text p span.line1{
	margin-left: 15px;
	font-size: 4em;
	letter-spacing: 9px;
	word-spacing: 6px;
	text-transform: uppercase;
}

#section1 div.text p span.line2{
	position: relative;
	left: 29%;
	bottom: 40px;
	font-size: 2em;

}

/* SECTION 2  */
#section2{
	font-family: 'Roboto', sans-serif;
}


#section2 div.wrap_section2 div.menu div.box1{
  background-color: #1DA187;
}

#section2 div.wrap_section2 div.menu div.box1:hover{
	background-color: rgba(29, 161, 135, 0.8);
}


#section2 div.wrap_section2 div.menu div.box2{
  background-color: #01A180;
}

#section2 div.wrap_section2 div.menu div.box2:hover{
	background-color: rgba(1, 161, 128, 0.8);
}


#section2 div.wrap_section2 div.menu div.box3{
  background-color: #05896E;
}

#section2 div.wrap_section2 div.menu div.box3:hover{
	background-color: rgba(5, 137, 110, 0.8);
}


#section2 div.wrap_section2 div.menu div.box4{
  background-color: #018068;
}

#section2 div.wrap_section2 div.menu div.box4:hover{
	background-color: rgba(1, 128, 104, 0.8);
}


#section2 div.wrap_section2 div.menu div.box{
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: center;
  width: 25%;
	padding: 5% 0 0 0;
  height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

#section2 div.wrap_section2 div.menu div.box:hover{
	transition-duration: 0.5s;
}

#section2 div.wrap_section2 div.menu div.box svg{
	width: 80px;
	height: 80px;
}

#section2 div.wrap_section2 div.menu div.box div.border{
  height: 1%;
  width: 40%;
  background-color: #fff;
	margin-top: 10%;
}

#section2 div.wrap_section2 div.menu div.box p{
  margin-top: 5%;
  color: #fff;
}

#section2 div.wrap_section2 div.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	align-items: center;
}


@media screen and (max-width:800px){
	#section2 div.wrap_section2 div.menu{
	  flex-direction: column;
	}
	#section2 div.wrap_section2 div.menu div.box{
		width: 100%;
		height: 25rem;
	}
	#section2 div.wrap_section2 div.menu div.box{
		justify-content: center;
	}
}

@media screen and (max-width:1225px) and (min-width:801px){
	#section2 div.wrap_section2 div.menu{
	  flex-direction: row;
		flex-wrap: wrap;
	}
	#section2 div.wrap_section2 div.menu div.box{
		width: 50%;
	}
	#section2 div.wrap_section2 div.menu div.box{
		justify-content: center;
	}
}


/* SECTION 3 */

#section3 div{
	height: 25em;
	width: 100%;
	z-index: 99;
	background-image: url("../img/background_section3.jpg");
	background-size: cover;
}

#section4{
	padding: 2% 0 0 0;
}

#section4 div.background{
	height: 15em;
	width: 100%;
	z-index: 99;
	background-image: url("../img/background_section4.png");
	background-size: cover;
}

#section4 div.wrap_section3{
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
}


/* Généralités */

.format{
	margin: 0;
	padding: 0;
	padding: 10% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
}

form.form h2{
	font-size: 1.2em;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

.form{
	background-color: rgba(47, 54, 64,0.7);
	padding: 4%;
	border: 0px solid rgba(47, 54, 64,0.7);
	border-radius: 19px;
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.form h1{
	font-size: 2em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 3%;
	margin-bottom: 2%;
	border-bottom: 1px #fff solid;
}


.form div input{
	padding: 3%;
	border: 0px;
	border-radius: 5px;
	background-color:#22A6B3;
	width: 250px;
}

.form div input:focus{
	background-color:rgba(200, 214, 229);
	transition-duration: 0.5s;
}

.form div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form div label{
	font-size: 1.1em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	line-height: 40px;
}


.form input.submit{
	margin-top: 10%;
	background-color: #22A6B3;
	border-radius:5px;
	border: none;
	cursor:pointer;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	padding: 1% 0;
	width: 250px;
	letter-spacing: 6px;
	font-weight: 800;
}

.form input.submit:hover{
	color:#22A6B3;
	background-color:rgb(200, 214, 229);
	transition-duration: 0.5s;
}

.form input:focus{
	outline: none;
}

.form input.submit:active{
	position:relative;
	top:1px;
}

.form input::placeholder{
color: #fff;
}

.form span.error{
	color: #ee5253;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}

.form span.green{
	color: #bafc58;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	margin-top: 1em;
	font-size: 1.2em;
}


.form input::placeholder{
  color: #fff;
}

.form p{
	font-size: 1.2em;
	color: #fff;
	font-weight: 500;
}

.form a{
	text-decoration: none;
	color: #fff;
	font-weight: 900;
}

/* SECTION 1 Login */

#section1-login{
	background-image: url("../img/background_section-login.jpg");
}

/* SECTION 2 login */

#section2-login{
	background: #ecf0f1;
	height: 15em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#section2-login div{
	border-radius: 15px;
	border: 14px solid #22A6B3;
	background-color: #22A6B3;
	width: 450px;
	height: 150px;
}

#section2-login div p.titre{
	color: #fff;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#section2-login div p.text{
	margin-top: 15px;
	color: #fff;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
}

#section2-login div p.text a{
	text-decoration: none;
	color: #fff;
	font-weight: 900;
}

#section2-login div p.titre{
	display: flex;
	align-items: center;
}

#section2-login div p.titre span{
	margin-left: 10px;
}

/* Mot de passe oublié */

#section1-forgot{
	background-image: url("../img/background_section-forgot.jpg");
}

/* FORGOT MAIL SECTION 1 */

#section1-mail{
	background-image: url("../img/background-section-forgotmail.jpg");
}

/* NEW PASS */

#section1-forgotnew{
	background-image: url("../img/background-section-forgotnewpass.jpg");
}


/* USER PROFIL */


#section-user_profil{
	background-image: url("../img/background-section-profil.jpg");
}

#section-user_profil form div.bis{
	display: flex;
	flex-direction: row;
	width: 55em;
	justify-content: space-around;
	align-items: center;
}


/* Responsive USER PROFIL  */

@media screen and (max-width:1000px){
	#section-user_profil form div.bis{
		flex-direction: column;
		width: 35em;
	}
	#section-user_profil form h1{
		font-size: 1.3em;
	}
}

@media screen and (max-width:600px){
	#section-user_profil form div.bis{
		width: 15em;
		padding: 2%;
	}
	#section-user_profil form div.bis input{
		width: 140%;
	}
	#section-user_profil form div.bis label{
		position: relative;
		bottom: 4px;
	}
	#section-user_profil form h1{
		font-size: 1em;
	}
}



/* userseevac */

#section-userseevac{
	background-image: url("../img/background-section-profil.jpg");
}


#section-userseevac form select{
	padding: 8px 12px;
	background-color: #22a6b3;
	color: #fff;
	cursor: pointer;
	border: 2px solid #22a6b3;
	outline: none;
	width: 30em;
}

#section-userseevac form div.date{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;

}


#section-userseevac .gg{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

#section-userseevac select{
	margin: 2em 0 0 0;
}

#section-userseevac .date{
	margin: 2em 0 0 0;
}

 #section-userseevac div.date input{
	text-transform: uppercase;
}

#section-userseevac .main form select:hover{
	border: 2px solid #ffffff;
	transition-duration: 0.4s;
}

#section-userseevac .main form select option:nth-child(even){
	background-color: #ecf0f1;
	color: #000;
}
#section-userseevac .main form select option:nth-child(1){
	display: none;
}
#section-userseevac .main form select option:nth-child(odd){
	background-color: #1abc9c;
}


#section-userseevac .tableau{
	margin-top: 5%;
	width: 80%;
}

#section-userseevac .content-table {
  border-collapse: collapse;
  margin: 25px 0;
	width: 45em;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#section-userseevac .content-table thead tr {
  background-color: #22A6B3;
  color: #ffffff;
  text-align: left;
  font-weight: 800;
	font-size: 1.3em;
}

#section-userseevac .content-table th,
#section-userseevac .content-table td {
  padding: 12px 15px;
}

#section-userseevac .content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

#section-userseevac .content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
	color: #34495e;
	font-size: 1.2em;
}

#section-userseevac .content-table tbody tr:nth-of-type(even) td a{
	color: #34495e;
	text-decoration: none;
}

#section-userseevac .content-table tbody tr:nth-of-type(odd) {
  background-color: #34495e;
	color: #fff;
	font-size: 1.2em;

}

#section-userseevac .content-table tbody tr:last-of-type {
  border-bottom: 2px solid #22A6B3;
}

#section-userseevac .content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

#section-userseevac .main form{
	display: flex;
	flex-direction: column;
}























/* INSCRIPTION  */


#mainSection .go {
		box-shadow:inset 0px 1px 0px 0px #cf866c;
		background-color:#22A6B3;
		border-radius:7px;
		border:1px solid #22A6B3;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:20px;
		text-decoration:none;
		margin: 5% 0;
		font-weight:800;
		letter-spacing: 4px;
		height: 41px;

}



#mainSection .go:hover {
	background-color:#ffffff;
	color:#22A6B3;
	transition-duration: 0.5s;
}

#mainSection input:focus{
	background-color: rgba(149, 165, 166,1.0);
	transition-duration: 0.5s;
}

#mainSection select:focus{
	background-color: rgba(149, 165, 166,1.0);
	transition-duration: 0.5s;
}

#mainSection input {
	border-radius: 7px;
	width: 250px;
	height: 180px;
	outline: none;
	border: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#mainSection select {
	border-radius: 7px;
	width: 250px;
	height: 180px;
	outline: none;
	border: 0px;
}
#mainSection option {
	border-radius: 7px;
}

.wrapregister {
	display: inline-block;
  background-color: rgba(200, 214, 229);
	border-radius: 6.5px;
  margin-left: 5%;
	padding: 5px;
	border: 11px double rgba(200, 214, 229);
  border-radius: 20px 20px 20px 20px;
}


.wrapregister ,h1 p {
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
	font-size: 2.2em;
}

.boxregister label {
		font-family: 'roboto';
		color:white;
		font-size: 1.2em;
		padding: 0 0;
	}



.boxregister .formulaire1  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
	height: 650px;
}




::placeholder {
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
	font-weight: 500;
	color: #403939;
}

#mainSection {
		padding: 60% 0 0 0 ;
    height: 45rem;
    width: 100%;
    background-image: url("../img/virus.jpg");
    background-size: cover;
}



.sectionBis {
  height : 100%;
}

.boxregister {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 400px;
padding: 40px;
background: rgba(44, 62, 80,0.7);
box-sizing: border-box;
box-shadow:0 15px 25px rgba(44, 62, 80,0.7);
border-radius: 10px;
}

input:focus .inputa{
	background: #DCDCDC;
}

input .inputa {
	border-radius: 7px;
}
.boxregister h2 {
margin:0 0 30px;
padding: 0;
color: #fff;
text-align:center;
}

.boxregister .inputBox
{
  position: relative;
}


.boxregister .inputBox input:focus  ~ label,
.boxregister .inputBox input:valid  ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size:12px;
}

.boxregister .input[type="submit"]
{
  background:transparent;
  border:none;
  outline:none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;*
  cursor:pointer;
  border-radius:5px;
}

@media screen and (max-width:1025px) and (min-width:801px){
	#mainSection div.wrap div.boxregister{
	  flex-direction: row;
		flex-wrap: wrap;
	}
	#mainSection div.wrap div.boxregister{
		width: 50%;
	}
	#mainSection div.wrap div.boxregister{
		justify-content: center;
	}
}

 .formulaire1{
  padding: 0;
  margin: 0;
  background: cover;
}

.formulaire1 div input{
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
  border:1px solid #241d13;
  padding: 1%;
}


.formulaire1 div textarea{
  resize: none;
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
  border:1px solid #241d13;
  padding: 1%;
}

.formulaire1 div.submit input{
  -webkit-box-shadow: -2px 6px 12px -11px #000;
          box-shadow: -2px 6px 12px -11px #000;
    border:1px solid #000;
    display:inline-block;
    cursor:pointer;
     color:#000;
    font-size:16px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
}

 .formulaire1 div.submit input:hover{
  background-color: #D90011;
  color: #FFF;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#prenom   {
	margin-top: 20px;
	margin-bottom: 15px;
}

#nom   {
	margin-top: 20px;
	margin-bottom: 15px;
}

#civilitee   {
	margin-top: 20px;
	margin-bottom: 15px;
}

#datenaissance   {
	margin-top: 20px;
	margin-bottom: 15px;
}




.error {
	color: #78d07f;
	font-style: italic;

}
/*  Contact  */

.wrapcontact {
	background-color: rgba(119, 140, 163,0.7);
	padding: 2%;
	display:flex;
	flex-direction: column;
	justify-content:center;
	width: 600px;
	border-radius: 7px;
	width: 600px;
	padding: 40px;
	background: rgba(44, 62, 80,0.7);
	box-sizing: border-box;
	border-radius: 10px;
	}

.wrapcontact  h3 {
	font-size: 1.3em;
	font-weight: 600;
	color: #FF5733;
	font-family: 'Roboto', sans-serif;
}

.wrapcontact p {
	font-size: 1.05em;
	font-weight: 500;
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
}

#contact {
	background-image: url("../img/background_section-forgot.jpg");
	background-size: cover;
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 0;
}

.wrapcontact .w50 input {
	border-radius:7px;
	outline: none;
	height: 30px;
	width: 150px;
	margin-bottom: 20px;
}


.wrapcontact textarea {
	border-radius: 7px;
}

 .boutonAz  {
	margin: 5%;
	margin-left: 42%;
	width:90px;
 	height:85px;
 	background:#d34836;
 	font:bold 13px verdana;
	font-size: 1.1em;
 	border-radius:50%;
 	border:none;
 	color:#fff;
}

.boutonAz:hover {
	background-color: red;
	border: 1px solid red;
	transition-duration: 0.75s;
  color: white;
}

#contact label , h3 {
	color:white;
	font-size: 1.4em;
	padding: 3% 0;
	letter-spacing: 1px;
}

#contact p  {
	color:white;
	font-size: 1.1em;
	padding: 3% 0;
}

#contact .inputerror {
	color:grey;
	font-size: 1.2em;
	padding: 3% 5px;
}

#contact .placeholderA {
	color:grey;
	font-size: 1.3em;
	padding: 1% 5px;
	margin:2%;
}


#contact .boutonAz {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: CENTER;
	align-content: center;
}

#contact a {
	text-decoration: none;
	color: white;
}

/* MENTIONS */

.wrapmentions {
	border-radius: 7.5px;
	border: 1.5px solid black;
	border:  thick double ;

}


.wrapmentions h4 {
	font-size: 1.3em;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	padding: 3px;
	width: 100%;

}


.wrapmentions div{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	padding: 40px;
	width: 100%;
}

.mentions {
	width: 60%;
	margin-left: 20%;
	margin-top: 7%;
	margin-bottom: 3%;
	height: 100%;
	background-size: 100%;
	background-color: #DDDEE0;
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;

}

.Team3 li {

font-size: 1.5em;
}
.Team3 img {
margin: 20px;
width: 250px;
height: 185px;
}
/* Page 403  */



.aza {
font-size: 10em;
font-weight:bold;
font-family: 'Oswald', sans-serif;
padding-left: 30px;
}

.az {
	font-size: 3em;
	font-weight:600;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 700px;
	padding-left: 30px;
}

/* Page 404 */

.aza {
font-size: 10em;
font-weight:bold;
font-family: 'Oswald', sans-serif;
padding-left: 30px;
}

.az {
	font-size: 3em;
	font-weight:600;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 700px;
	padding-left: 30px;
}
